<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Park Me!</title>
    <link rel="stylesheet" type="text/css" href="../parkMeMain.css">
</head>
<body>
<div>
    <h1>Park Me!</h1>
    <a href="/parking">get all parking</a>
</div>
<div class="search-bar">
    <form name="id" action="" method="get">
        <input type="radio" id="address" name="searchType" value="address" class="input">
        <label for="address">address</label>
        <input type="radio" id="bayid" name="searchType" value="bayid" class="input">
        <label for="bayid">bay id</label><br>
        <input type="text" placeholder="Enter address/bay id" name="searchItem" class="input">
        <button type="submit" class="button" onclick="takeAction()">Submit</button>
    </form>
</div>
<script>
//seperate route for different choice of searchType
function takeAction(){
    var choice = document.forms["id"]["searchType"].value;
    if (choice === "address"){
	document.id.action = "parking/searchAddress";
    }
    else{
        document.id.action = "parking/searchId";
    }
}
</script>
</body>
</html>