<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Park Me!</title>
    <link rel="stylesheet" type="text/css" href="../parkMeMain.css">
</head>
<body>
<div class="topnav">
    <a href="/">Park Me!</a>
    <a href="/html/login.html" class="leftys">Log in</a>
    <a href="/html/signup.html" class="leftys">Sign up</a>
</div>
{{{body}}}
</body>
</html>