<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Park Me!</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/forms.css">
</head>
<body>
    <form class="sform" action="/user/login" method="POST">
        <div class="form-row"> 
            <div class="col-md-6 offset-md-3">
                <label for="">Email:</label>
                <input type="text" class="form-control" name="email">
            </div>
        </div>
        <div class="form-row"> 
            <div class="col-md-6 offset-md-3">
                <label for="">Password:</label>
                <input type="password" class="form-control" name="password">
            </div>
        </div>
        <div class="form-row">
            <button type="submit" class="btn btn-success btn-block loginBut">Login</button>
        </div>
    </form>

</body>
</html>