<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Park Me!</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<style>
    .carousel-inner img {
        width: 100%;
    }

</style>
<body>
<div class="container-fluid" style="padding-top: 15px; padding-left: 0px">
    <form name="id" method="get">
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" value="address" name="searchType">address
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" value="bayid" name="searchType">bayid
            </label>
        </div>
        <div class="input-group col-4" style="padding: 10px 0px">
            <input type="text" placeholder="Enter address/bay id" name="searchItem" id="addr" class="form-control">
            <div class="input-group-append">
                <button type="submit" class="btn btn-success" onclick="takeAction()">Submit</button>
            </div>
        </div>
        <input type="text" name="addrInLat" id="addrInLat" style="visibility: hidden">
        <input type="text" name="addrInLng" id="addrInLng" style="visibility: hidden">
    </form>

</div>
<script src="/jquery/dist/jquery.js"></script>
<script>
    //seperate route for different choice of searchType

    function takeAction(){
        var choice = document.forms["id"]["searchType"].value;
        if (choice === "address"){
            var address= document.getElementById('addr').value;
            const apiKey = "GCKALRJbp5GlFkSPRqfudXtTAHblG98b";
            var jsonurl = "http://www.mapquestapi.com/geocoding/v1/address?key="+apiKey+"&location="+address;
            console.log(jsonurl);
            var json_obj = JSON.parse(Get(jsonurl));
            var lat = json_obj.results[0].locations[0].displayLatLng.lat;
            var lng = json_obj.results[0].locations[0].displayLatLng.lng;
            document.getElementById("addrInLat").value = lat;
            document.getElementById("addrInLng").value = lng;
            document.id.action = "parking/searchAddress";
        }
        else{
            document.id.action = "parking/searchId";
        }
    }
    function Get(yourUrl){
        var Httpreq = new XMLHttpRequest(); // a new request
        Httpreq.open("GET",yourUrl,false);
        Httpreq.send(null);
        return Httpreq.responseText;
    }
</script>
</body>
</html>