<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Park Me!</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css"/>
</head>
<body>
<div class="container-fluid" style="padding-top: 15px; padding-left: 0px">
    <form name="id" method="get">
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" value="address" name="searchType">address
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" value="bayid" name="searchType">bayid
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" value="parkinglot" name="searchType">ParkingLot
            </label>
        </div>
        <div class="input-group col-4" style="padding: 10px 0px">
            <input type="text" placeholder="Enter address/bay id" name="searchItem" id="addr" class="form-control">
            <div class="input-group-append">
                <button type="submit" class="btn btn-success" onclick="takeAction()">Submit</button>
            </div>
        </div>
        <input type="text" name="addrInLat" id="addrInLat" style="visibility: hidden">
        <input type="text" name="addrInLng" id="addrInLng" style="visibility: hidden">
    </form>
    <div id="map" style="width: 100%; height: 700px"></div>
</div>

<script src="/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    window.onload = function() {
        L.mapquest.key = 'r6mEXWAdpohbgJyspF2GP1GOPoRiMYEc';

        var map = L.mapquest.map('map', {
            center: [-37.7983, 144.9610],
            layers: L.mapquest.tileLayer('map'),
            zoom: 15
        });

        map.addControl(L.mapquest.control());
        L.marker([-37.7983, 144.9610]).addTo(map)
    }
    function takeAction(){
        //prevent default behaviour, the form will only submit when document.id.submit()
        event.preventDefault()
        //get the choice from the radio
        var choice = document.forms["id"]["searchType"].value;
        if (choice === "address"||choice === "parkinglot"){
            var address= document.getElementById('addr').value;
            //jsonurl is to get a pair of coordinates with geocoding api
            const apiKey = "r6mEXWAdpohbgJyspF2GP1GOPoRiMYEc";
            const apiSeckey = "GCKALRJbp5GlFkSPRqfudXtTAHblG98b"
            var jsonurl = "https://www.mapquestapi.com/geocoding/v1/address?key="+apiKey+"&location="+address;
            let request = new Request(jsonurl);
            //use fetch to get the json data, and parse the result to two input on html,
            // which will be submit to the controller
            fetch(request)
                .then(function (res) {
                    if(!res.ok){
                        throw Error(res.statusText);
                    }
                    return res.json()}
                )
                .then(function(json){
                    //give input a lat and lng value
                    document.getElementById("addrInLat").value = json.results[0].locations[0].displayLatLng.lat;
                    document.getElementById("addrInLng").value = json.results[0].locations[0].displayLatLng.lng;
                    if(choice === "address"){
                        document.id.action = "parking/searchAddress";
                        document.id.submit();
                    }else{
                        document.id.action = "parking/parkinglot";
                        document.id.submit();
                    }
                }).catch(function (error) {
                    console.log(error)
            })
        }
        else{
            document.id.action = "parking/searchId";
            document.id.submit();
        }
    }
</script>
</body>
</html>