<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Park Me!</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<style>
    .carousel-inner img {
        width: 100%;
    }

</style>
<body>
<div class="container-fluid" style="padding-top: 15px; padding-left: 0px">
    <form name="id" method="get">
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="address" name="searchType">address
            </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="bayid" name="searchType">bayid
            </label>
        </div>
        <div class="input-group col-4" style="padding: 10px 0px">
            <input type="text" placeholder="Enter address/bay id" name="searchItem" class="form-control">
            <div class="input-group-append">
                <button type="submit" class="btn btn-success" onclick="takeAction()">Submit</button>
            </div>
        </div>
    </form>

</div>
<script>
    //seperate route for different choice of searchType
    function takeAction(){
        var choice = document.forms["id"]["searchType"].value;
        if (choice === "address"){
            document.id.action = "parking/searchAddress";
        }
        else{
            document.id.action = "parking/searchId";
        }
    }
</script>
</body>
</html>